1.1 Write a Python Program to implement your own myreduce() function which works exactly  like Python's built-in function reduce()

In [44]:
def myreduce(a,b):
  iterator = iter(b)
  value = next(iterator)
  for item in iterator:
    value = a(value,item)
  return value

In [45]:
myreduce (lambda a,b:a+b,[1,2,3,4])

10

1.2 Write a Python program to implement your own myfilter() function which works exactly  like Python's built-in function filter()

In [46]:
def myfilter(a,b):
  iterator = iter(b)
  value = next(iterator)
  ret_val = []
  for item in iterator:
    if (a(item) == True):
      ret_val.append(item)
    else:
      pass
  return ret_val

In [47]:
l = myfilter(lambda x:x%2 == 0,[1,2,3,4,5])
l

[2, 4]

2. Implement List comprehensions to produce the following lists.  
Write List comprehensions to produce the following Lists 
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’] 
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']  
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']  
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],  
[4, 5, 6, 7], [5, 6, 7, 8]]

In [48]:
string = "ACADGILD"
lst = [x for x in string]
print(lst)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [49]:
string = "xyz"
lst = [x*y for x in string for y in range (1,5)]
print (lst)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [50]:
string = "xyz"
lst = [x*y for y in range (1,5) for x in string]
print (lst)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [51]:
lst = [[i+j] for i in range(2,5) for j in range (0,3)]
print (lst)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [52]:
lst = [[i+j for i in range(2,6)] for j in range(0,4)]
print (lst)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]